name: Quality

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'

      - uses: oven-sh/setup-bun@v2

      - name: Install Dependencies
        run: |
          composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
          bun install --frozen-lockfile

      - name: Run Pint
        run: composer lint

      - name: Format Frontend
        run: bun run format:check

        # if we don't build the site, the lint and types checks fail because of missing generated files
      - name: Build the site
        run: bun run build

      - name: Lint Frontend
        run: bun run lint:check

      - name: Type Check Frontend
        run: bun run types
